{% extends 'base.html.twig' %}

{% block title %}Continent{% endblock %}

{% block body %}

    {% block menu %}
        {% include "navbar/navbar.html.twig" %}
    {% endblock %}

    {% for value in cont %}
        
        <h1 class="title text-center mt-4">Tableau des pays par continent : {{ value.name }}</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">Country</th>
                    <th scope="col">Inhabitants</th>
                    <th scope="col">Capital</th>
                </tr>
            </thead>

            {% for country in value.countries %}
            <tbody>
                <tr>
                    <td>{{ country.name }}</td>
                    <td>{{ country.NbInhabitants }}</td>
                    <td>{{ country.CapitalCity}}</td>
                </tr>
            </tbody>
            {% endfor %}

        </table>
    </div>
  
    {% endfor %}
{% endblock %}